DOCTYPEhtml
    html(lang='ru')
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet', href='../src/static/fons/stylesheet.css')
            link(rel='stylesheet', href='static/css/main.css')    
            title Pulse
        body
            .promo  
                .container
                    .header
                        a.header__logo(href='#')
                            img(src='../src/static/img/logo.png' alt='logo')
                        .header__official Официальный представитель
                            span Garmin, Polar, Suunto
                        .header__contacts
                            a.header__phone(href='tel:+74999228974') +7 (499) 922-89-74
                            button.button заказать звонок
                    .promo__wrapper
                        h1.promo__header Подбор пульсометра
                        h2.promo__subheader с учётом Вашего уровня подготовки
                        .promo__icons
                            .promo__icon
                                img(src='../src/static/img/icon-timer.png', alt='timer')
                                p Время подбора: 10 минут
                            .promo__icon
                                img(src='../src/static/img/icon-cart.png', alt='hard-cart')
                                p Бесплатная доставка
                            .promo__icon
                                img(src='../src/static/img/icon-messages.png', alt='messages')
                                p Ответим на все вопросы
                        button.button.button_promo заказать кОНСУЛЬТАЦИЮ
                        .promo__link
                            p или 
                            a(href="#") ПЕРЕЙТИ В КАТАЛОГ
            script(src='static/js/libs.min.js')
            script(src='static/js/main.js')