DOCTYPEhtml
    html(lang='ru')
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet', href='../src/static/fons/stylesheet.css')
            link(rel='stylesheet' type='text/css' href='static/css/slick.css')
            link(rel='stylesheet', href='static/css/main.css')    
            title Pulse
        body
            section.promo  
                .container
                    header.header
                        a.header__logo(href='#')
                            img(src='../src/static/img/logo.png' alt='logo')
                        .header__official Официальный представитель
                            span Garmin, Polar, Suunto
                        .header__contacts
                            a.header__phone(href='tel:+74999228974') +7 (499) 922-89-74
                            button.button заказать звонок
                    .promo__wrapper
                        h1.promo__header Подбор пульсометра
                        h2.promo__subheader с учётом Вашего уровня подготовки
                        .promo__icons
                            .promo__icon
                                img(src='../src/static/img/icon-timer.png', alt='timer')
                                p Время подбора: 10 минут
                            .promo__icon
                                img(src='../src/static/img/icon-cart.png', alt='hard-cart')
                                p Бесплатная доставка
                            .promo__icon
                                img(src='../src/static/img/icon-messages.png', alt='messages')
                                p Ответим на все вопросы
                        button.button.button_promo заказать кОНСУЛЬТАЦИЮ
                        .promo__link
                            p или 
                            a(href='#') ПЕРЕЙТИ В КАТАЛОГ
            section.advantage
                .container
                    h2.title НАШИ ПРЕИМУЩЕСТВА
                    .advantage__items
                        .advantage__item
                            .advantage__icon
                                img(src='../src/static/img/icon-4.png', alt='cup')
                            h3 Делимся опытом
                            p Наши сотрудники всегда готовы поделиться своим опытом, так как сами бегают полумарафоны, переплыли Босфор, готовятся к соревнованиям по триатлону!
                        .advantage__item
                            .advantage__icon
                                img(src='../src/static/img/icon-5.png', alt='puls')
                            h3 Заботимся о здоровье
                            p Мы работаем для того, чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в радость Вам и Вашим близким!
                        .advantage__item
                            .advantage__icon
                                img(src='../src/static/img/icon-6.png', alt='cross')
                            h3 Учим бегать
                            p Помогаем с обучением правильной технике бега! Дружим с крупнейшей школой бега в России - 
                                a(href='#') I LOVE RUNNING.
            section.consultation
                .container
                    h2.title.title_left Получите бесплатную консультацию по подбору пульсометра 
                    .consultation__descr Просто заполните форму заявки <br> и мы перезвоним вам в течении 10 минут
                    form.form(action='#')
                        input(required name='name' placeholder='Ваше имя' type='text')
                        input(required name='phone' placeholder='Ваш телефон' type='number')
                        input(required name='e-mail' placeholder='Ваш E-mail' type='email')
                        button.button.button_submit заказать кОНСУЛЬТАЦИЮ
            section.slider
                .container
                    .slider__iner
                        div
                            img(src='../src/static/img/slider-1.jpg', alt='slider-1')
                        div
                            img(src='../src/static/img/slider-2.jpg', alt='slider-2')
                        div
                            img(src='../src/static/img/slider-3.jpg', alt='slider-3')
            section.catalog
                .container
                    h2.title Каталог пульсометров
                    ul.catalog__tabs
                        li.catalog__tab.catalog__tab_active
                            p Для фитнеса
                        li.catalog__tab
                            p для бега
                        li.catalog__tab
                            p для триатлона
                    .catalog__items
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Polar FT1
                                .catalog-item__descr Для первых шагов в тренировках, основанных на сердечном ритме
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 4 750 руб.
                                    .catalog-item__price 4 500 руб.
                                button.button.button_mini КУПИТЬ
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Suunto M2
                                .catalog-item__descr Пульсометр начального уровня с комфортным тканевым ремешком
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 6 990 руб.
                                    .catalog-item__price 6 641 руб.
                                button.button.button_mini КУПИТЬ
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Polar FT4
                                .catalog-item__descr Улучшенная версия Polar FT1, имеющая следующие улучшения:
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 7 390 руб.
                                    .catalog-item__price 7 021 руб.
                                button.button.button_mini КУПИТЬ
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Polar FT1
                                .catalog-item__descr Для первых шагов в тренировках, основанных на сердечном ритме
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 4 750 руб.
                                    .catalog-item__price 4 500 руб.
                                button.button.button_mini КУПИТЬ
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Suunto M2
                                .catalog-item__descr Пульсометр начального уровня с комфортным тканевым ремешком
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 6 990 руб.
                                    .catalog-item__price 6 641 руб.
                                button.button.button_mini КУПИТЬ
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Polar FT4
                                .catalog-item__descr Улучшенная версия Polar FT1, имеющая следующие улучшения:
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 7 390 руб.
                                    .catalog-item__price 7 021 руб.
                                button.button.button_mini КУПИТЬ
                    .catalog__items
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Polar FT1
                                .catalog-item__descr Для первых шагов в тренировках, основанных на сердечном ритме
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 4 750 руб.
                                    .catalog-item__price 4 500 руб.
                                button.button.button_mini КУПИТЬ
                    .catalog__items
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Polar FT1
                                .catalog-item__descr Для первых шагов в тренировках, основанных на сердечном ритме
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 4 750 руб.
                                    .catalog-item__price 4 500 руб.
                                button.button.button_mini КУПИТЬ
                        .catalog-item
                            .catalog-item__product.catalog-item__product_active
                                .catalog-item__img
                                    img(src="../src/static/img/product.jpg", alt="product")
                                .catalog-item__title Пульсометр Polar FT4
                                .catalog-item__descr Улучшенная версия Polar FT1, имеющая следующие улучшения:
                                a.catalog-item__link(href='#') ПОДРОБНЕЕ
                            .catalog-item__list
                                a.catalog-item__link.catalog-item__link_back(href='#') НАЗАД
                                ul
                                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    li Также Вы увидите информацию о расходе калорий за тренировку;
                                    li Вы сможете посмотреть данные по 10 тренировкам. 
                            .catalog-item__line
                            .catalog-item__footer
                                .catalog-item__prices
                                    .catalog-item__old-price 7 390 руб.
                                    .catalog-item__price 7 021 руб.
                                button.button.button_mini КУПИТЬ

            script(type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js')
            script(type='text/javascript' src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
            script(src='static/js/libs.min.js')
            script(type='text/javascript' src='static/js/slick.min.js')
            script(src='static/js/main.js')