.slider {
    padding: 81px 0;
    &__iner {
        position: relative;
        margin: 0 auto;
        width: 750px;
        img {
            margin: auto 0;
            width: 100%;
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        width: 31px;
        height: 50px;
        border: none;
        background: #fff;
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            margin: 0 10px;
            button {
                width: 15px;
                height: 15px;
                font-size: 0;
                background-color: $main_color;
                border-radius: 50%;
            }
        }
    }
}